<nav ng-init="loadCurrentUser();loadUser();loadmsg();loadDocOnSearch();user.role='--Select--';doc.docType='--Select--';doc.gender='--Select--';loadDocType();loadDocument()"   class="navbar navbar-default  ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
                <small class="icon-bar"></small>
                <small class="icon-bar"></small>
                <small class="icon-bar"></small>
            </button>
            <a href="/dashboard"><img src="assets/images/ishakiro.png" width="150px" height="90px" class="img-responsive" alt="put hear here"></a>
        </div>
        <div style="margin-top: 3%"  class="collapse navbar-collapse" id="myNavBar">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
                                        {{currentUser.names|uppercase}}<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                        <!-- /.dropdown-user -->
                </li>
                    <!-- /.dropdown -->
            </ul>
        </div>
    </div>

</nav>
