
@backMain("Document type") {
    <div ng-controller="hrCtr">
        @header.backHeard()

        <div style="background-color: #e1e0de" class=" visible-lg col-lg-12">
            <br>
            <div  class="col-lg-1"></div>
            <h1 class="col-lg-10">Document type</h1>
            <div  class="col-lg-1"></div>
            <br>
        </div>
        <div  class="col-lg-1"></div>
        <div  class="col-lg-10 panel panel-default" >
            <div style="margin-bottom: 3%" class="col-lg-12">
            @header.dashboardHead("docType")
            </div>

            <div>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success" data-toggle="modal" data-target="#new">Add Type &nbsp;<small class="fa fa-plus"></small></button> </div>
            <br>
            <div id="new" class="modal fade" role="dialog">
                <div class="modal-dialog">

                        <!-- Modal content-->
                    <div class="modal-content">
                        <form name="myForm" novalidate ng-submit="saveDocType(doc)">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">New Type</h4>
                                <div class="alert alert-danger" ng-show="message">{{message}}</div>
                            </div>
                            <div class="modal-body">
                                <div class="">

                                    <div class="formholder">
                                        <div class="randompad">

                                            <fieldset>
                                                <div  class="form-group" ng-class="{'has-error has-feedback': myForm.docName.$dirty && myForm.docName.$invalid ,'has-success has-feedback': myForm.docName.$dirty && myForm.docName.$valid } ">
                                                    <label for="names" class=" col-lg-4 control-label">Names:</label>
                                                    <div class="col-lg-8">
                                                        <input type="text"   required class="form-control" pattern="^[A-z\s]+$"  name="docName" ng-model="doc.docName" placeholder="type of document"/>
                                                        <div role="alert" class="help-block" ng-messages="myForm.docName.$error" ng-if="myForm.docName.$dirty">
                                                            <span ng-message="required">Field is required.</span>
                                                            <span ng-message="pattern">Field must be alphabets only .</span>
                                                            <span style="margin-right: 3%" ng-show="myForm.docName.$dirty && myForm.docName.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                                                            <span style="margin-right: 3%" ng-show="myForm.docName.$dirty && myForm.docName.$invalid" class="glyphicon glyphicon-remove  form-control-feedback"></span>

                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" ng-disabled="employeeId=='--Select--'||myForm.$invalid" class="btn btn-success" >Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="table-responsive">
                <table  class="table">
                    <thead class="success" >
                        <th>#</th>
                        <th>Document name</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr dir-paginate="a in docTypes|itemsPerPage:10">
                            <td>{{$index}}</td>
                            <td>{{a.docName}}</td>
                            <td><div class="btn-group-sm"><button href="#edit{{a.id}}" data-toggle="modal" class="btn btn-info pull-left"><small class="fa fa-edit"></small></button>&nbsp;<button href="#delete{{a.id}}" data-toggle="modal"  class="btn btn-danger"><small class="glyphicon glyphicon-remove-sign"></small></button></div>
                                    <!-- Modal -->
                                <div id="{{'edit'+a.id}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                            <!-- Modal content-->
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Edit user</h4>
                                            </div>
                                            <form ng-submit="editDoc(a)">
                                                <div class="modal-body">
                                                    <div class="">

                                                        <div class="formholder">
                                                            <div class="randompad">

                                                                <fieldset>
                                                                    <div  class="form-group" ng-class="{'has-error has-feedback': myForm.docName.$dirty && myForm.docName.$invalid ,'has-success has-feedback': myForm.docName.$dirty && myForm.docName.$valid } ">
                                                                        <label for="names" class=" col-lg-4 control-label">Names:</label>
                                                                        <div class="col-lg-8">
                                                                            <input type="text"   required class="form-control" pattern="^[A-z\s]+$"  name="docName" ng-model="a.docName" placeholder="Enter your names"/>
                                                                            <div role="alert" class="help-block" ng-messages="myForm.docName.$error" ng-if="myForm.docName.$dirty">
                                                                                <span ng-message="required">Field is required.</span>
                                                                                <span ng-message="pattern">Field must be alphabets only .</span>
                                                                                <span style="margin-right: 3%" ng-show="myForm.docName.$dirty && myForm.docName.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                                                                                <span style="margin-right: 3%" ng-show="myForm.docName.$dirty && myForm.docName.$invalid" class="glyphicon glyphicon-remove  form-control-feedback"></span>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit"  class="btn btn-success" >Submit</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                                    <!-- Modal -->
                                <div id="{{'delete'+a.id}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                            <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <form ng-submit="deleteDoc(a)">
                                                <div class="modal-body">
                                                    are you sure to delete {{a.docName}}  ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-success" >Yes</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <th>#</th>
                        <th>Document name</th>
                        <th>Action</th>
                    </tfoot>
                </table>
            </div>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/assets/partials/tables/dirPagination.tpl.html"></dir-pagination-controls>




        </div >

        <div  class="col-lg-1"></div>
        <div class="col-lg-12">
        @footer()
        </div>

    </div>



}