<footer class=" text-center">
  <div style="background-color:orange ;" class="row">
      <div class="col-sm-4">
          <h3>Tuvugishe</h3>
          <br>
          <h4>Kigali-Rwanda</h4>
          <h4>Nyarugenge district</h4>
          <h4>Kn 129 st </h4>
          <h4>Phone +250788522112/785185421</h4>
      </div>
      <div class="col-sm-4">
          <h3>&nbsp;</h3>
          <br>
          <a href="http://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
          <a href="http://www.twitter.com" target="_blank" class="fa fa-twitter"></a>
          <a href="http://www.linkedin.com" target="_blank" class="fa fa-linkedin"></a>
      </div>
      <div class="col-sm-4">
          <img src="assets/images/ishakiro.png" style="padding: 8%" class="icon"><br>
          Visitors counter:
          <img src="http://www.reliablecounter.com/count.php?page=www.ishakiro.com&digit=style/plain/10/&reloads=0" alt="" title="" border="0">
      </div>
  </div>
</footer>